<!DOCTYPE html>
<html>
<head>
	<title>Marvel Heroes!!</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="padding-left: 20px;">Marvelous Catalog!!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if loginStatus == 0 %}
        <li style="display: none;"><a href="/marvels/movies">API Token</a></li>
        {% else %}
        <li><a onclick="showApiModel()">API Token</a></li>
        {% endif %}
        <li><a href="/marvels/movies">Movies</a></li>
        <li><a href="/marvels/heroes">Heroes</a></li>
        {% if loginStatus == 0 %}
        <li><a href="/login" class="waves-effect waves-light btn" >Login</a></li>
        {% else %}
        <li><a href="/gdisconnect" class="waves-effect waves-light btn" >Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="row">
    {% if showContent == "movies" %}
    {% for movie in moviesList %}
    <div class="col s12 m6 l2" style="max-height: 500px;">
      <div class="card z-depth-3">
        <div class="card-image">
          <img src="{{movie.image_path}}" style="padding: 2px; height: 350px; width: 100%;">
          <span class="card-title">{{movie.name}}</span>
        </div>
        <div class="card-content">
          <p class="truncate">{{movie.description}}</p>
        </div>
        {% if loginStatus == 1 %}
        <a class="material-icons" style="margin-left: 10px; margin-bottom: 10px; color: inherit;" href="{{url_for('editMovie', movie_id = movie.id)}}">edit</a>
        <a class="material-icons modal-trigger" style="margin-left: 10px; margin-bottom: 10px; color: inherit;" href="#deleteMovieModal">delete</a>
        {% else %}
        <a class="material-icons" style="margin-left: 10px; margin-bottom: 10px; color: inherit; display: none;" href="{{url_for('editMovie', movie_id = movie.id)}}">edit</a>
        <a class="material-icons modal-trigger" style="margin-left: 10px; margin-bottom: 10px; color: inherit; display: none;" href="#deleteMovieModal">delete</a>
        {% endif %}
      </div>
    </div>
    <div id="deleteMovieModal" class="modal">
      <div class="modal-content">
        <h4>Are you sure??</h4>
      </div>
      <div class="modal-footer">
        <a href="#deleteMovieForm" onclick="submitMovieDelete()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
        <p class="modal-close waves-effect waves-green btn-flat">No</p>
      </div>
    </div>
    <form id="deleteMovieForm" action="{{url_for('deleteMovie', movie_id = movie.id)}}" method="POST">
      <input type="submit" id="deleteMovieButton" style="display: none;" />
    </form>
    {% endfor %}
    {% else %}
    {% for hero in heroesList %}
    <div class="col s12 m6 l2" style="max-height: 500px;">
      <div class="card z-depth-3">
        <div class="card-image">
          <img src="{{hero.image_path}}" style="padding: 2px; height: 350px; width: 100%;">
          <span class="card-title">{{hero.name}}</span>
        </div>
        <div class="card-content">
          <p class="truncate">{{hero.description}}</p>
        </div>
        <a class="material-icons" style="margin-left: 10px; margin-bottom: 10px; color: inherit;" href="{{url_for('editHero', hero_id = hero.id)}}">edit</a>
        <a class="material-icons modal-trigger" style="margin-left: 10px; margin-bottom: 10px; color: inherit;" href="#deleteHeroModal">delete</a>
      </div>
    </div>
    <div id="deleteHeroModal" class="modal">
      <div class="modal-content">
        <h4>Are you sure??</h4>
      </div>
      <div class="modal-footer">
        <a href="#deleteHeroForm" onclick="submitHeroDelete()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
        <p class="modal-close waves-effect waves-green btn-flat">No</p>
      </div>
    </div>
    <form id="deleteHeroForm" action="{{url_for('deleteHero', hero_id = hero.id)}}" method="POST">
      <input type="submit" id="deleteHeroButton" style="display: none;" />
    </form>
    {% endfor %}
    {% endif %}
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul style="display: inline-block;">
      {% if loginStatus == 1 %}
      <li>Charcter<a class="btn-floating yellow darken-1" href="/marvels/heroes/new"><i class="material-icons">person_add</i></a></li>
      <li><p>Movie</p><a class="btn-floating red" href="/marvels/movies/new"><i class="material-icons">local_movies</i></a></li>
      {% else %}
      <li>Charcter<a class="btn-floating yellow darken-1"><i class="material-icons" onclick="showLoginToast()">person_add</i></a></li>
      <li><p>Movie</p><a class="btn-floating red"><i class="material-icons" onclick="showLoginToast()">local_movies</i></a></li>
      {% endif %}
    </ul>
  </div>
  <div id="apiTokenModal" class="modal">
    <div class="modal-content">
      <h4>API Token</h4>
      <p>{{user.api_key}}</p>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
      function submitMovieDelete() {
        if (loginStatus == 1) {
          $('#deleteMovieButton').click();
        } else {
          console.log("Not logged in!");  
        }
      };
      function submitHeroDelete(argument) {
        if (loginStatus == 1) {
          $('#deleteHeroButton').click();
        } else {
          console.log("Not logged in!");
        }
      };
      function showLoginToast() {
        console.log("Not Logged in!!");
        Materialize.toast('Login to continue!', 4000, 'rounded');
      };
      function showApiModel() {
        $('#apiTokenModal').modal('open');
      }
  </script>
</body>>
</html>